.post {
    width: 100%;
max-width: 40rem;
    border: 1px solid #ddd;
    margin: 20px auto;
}
.heading{
    display:flex;
    padding:0.5rem;
    align-items:center;
}
.title {
    flex-grow: 1;
    margin: 0 0.5rem;
}
.title >p{
    margin: 0%;
}
.heading>i{
    font-size: 1.5rem;
}

.logout-item{
    color: red !important;
}
/*aquí tengo que poner las condiciones de la imgen*/
.post-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
/*tercer div*/
.post-icons {
    border: 1px;
    margin: 5 0;
}
.post-heading{
    display:flex;
    padding:0.5rem;
    align-items:center;
}
.post-title {
    flex-grow: 1;
    margin: 0 0.5rem;
}
.post-title >p{
    margin: 0%;
}
.post-heading>i{
    margin-right: 6px;
    font-size: 1.5rem;
}
/*aquí el lorem ipsum y eso */
.post-body {
    border: 1px;
    margin: 5 0;
    font-family: roboto;
}
.likeby{
    padding:0.5rem;
    align-items:center;
}

/*aqui puse el grid*/ 

.insta-grid{
    max-width: 100%;
}

.grid-photo {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
}
